/data
/trained_models/*
/good_models
/models_to_load/*
/data_mouse/*
/archive
__pycache__/
*.py[cod]
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyo
*.pyc
/zipped_to_publish
data_queue/*
TODO.txt