# Ignore data files
/data
/data_mouse/
/data_classifier/
/data_queue/
# Ignore trained models
/models/trained_models/*
/models/good_models
/models/models_to_load/*
# Ignore archived files
/archive
# Python specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyc
# Build directories and files
build/
dist/
*.spec
# Miscellaneous
.installed.cfg
bin/
develop-eggs/
downloads/
eggs/
parts/
src/*.egg-info
lib/
lib64/
zipped_to_publish/
TODO.txt
tempCodeRunnerFile.py